QQ_SMTP_HOST=smtp.qq.com
QQ_SMTP_PORT=465
QQ_SMTP_SSL=true
QQ_SMTP_USER=1425709546@qq.com
QQ_SMTP_FROM=1425709546@qq.com
QQ_SMTP_TO=1425709546@qq.com
QQ_SMTP_AUTH_CODE=your_qq_smtp_authorization_code
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4.1-mini
